.contact-form {
  margin-top: -40px;
  text-align: center;
  background-color: #231B1A;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #231B1A;
}

.contact-icon {
  width: 3vW;
  padding-left: auto;
  padding-right: 10px;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 18px;
  margin-bottom: 16px;
}

button {
  height: 45px;
}

.contact-form .submit {
  background: #7C131A;
  border-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  border-radius: 25px;
}

.contact-form .submit:hover {
  cursor: pointer;
  background: #ac232c;
}

textarea {
  resize: none;
}